.screen {
  background-color: grey;
  color: white;
  font-size: large;
  max-width: 200px;
  height: 35px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.row > *,
.row > * > * {
  min-width: 50px;
  min-height: 50px;
}

.row {
  display: flex;
}

.orange {
  background-color: orange;
}

.double {
  min-width: 100px;
}